@{
	Layout = "_LayoutAccount";
	ViewData["Title"] = "Forgot Password";
}
<section class="container" id="forgot_password">
	<div class="auth-wrapper p-5 mt-5">
		<div class="auth-image" style="background-image: url('/asset/image/Login.svg');">
		</div>

		<div class="auth-form">
			<div class="auth-card">
				<div class="text-center mb-4">
					<h4>Quên mật khẩu</h4>
					<p class="text-muted small">Nhập email của bạn để nhận link đặt lại mật khẩu</p>
				</div>

				<form id="forgot_password_form" method="post">
					@Html.AntiForgeryToken()
					<div class="mb-3">
						<label>Email</label>
						<input type="email" name="email" id="emailInput" class="form-control auth-input"
							   placeholder="Nhập email của bạn" required />
					</div>
					<button type="submit" class="btn btn-primary btn-auth">Gửi yêu cầu</button>
					<div class="d-flex justify-content-center align-items-center mt-3">
						<a href="@Url.Action("Login", "Account")" class="text-decoration-none small text-primary">
							 Quay lại đăng nhập
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>