
.auth-wrapper {
    display: flex;
    height: 100vh;
}

.auth-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.auth-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.auth-card {
    width: 100%;
    max-width: 400px;
}

.auth-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #c6d8ff;
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
}

    .auth-tabs a {
        padding: 10px 20px;
        border-radius: 25px;
        text-decoration: none;
        color: #4880ff;
        font-weight: 500;
        border: 1px solid transparent;
        transition: all 0.3s;
    }

        .auth-tabs a.active {
            background-color: #4880ff;
            color: white;
            border: 1px solid #1abc9c;
        }

.auth-input {
    border-radius: 25px;
    padding: 10px 20px;
    overflow: hidden;
}

.btn-auth {
    width: 100%;
    border-radius: 25px;
    background-color: #4880ff;
    border: none;
}

    .btn-auth:hover {
        background-color: #4173e6;
    }

.toggle-password {
    position: absolute;
    right: 15px;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
}

    .toggle-password:hover {
        color: #333;
    }
