<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quiz_Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* icon  fontawesome*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quiz_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CourseStyle.css" asp-append-version="true"/>

    @await RenderSectionAsync("Styles", required:false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="Udemy Logo" height="34">
                </a>
                <a class="nav-link d-none d-lg-block" href="#">Khám phá</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex flex-grow-1 my-2 my-lg-0 mx-lg-3" role="search">
                        <div class="input-group">
                            <span class="input-group-text bg-transparent border-0 pe-0">
                                <i class="bi bi-search"></i>
                            </span>
                            <input class="form-control border-start-0" type="search" placeholder="Tìm kiếm nội dung bất kỳ">
                        </div>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="#">Udemy Business</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="@Url.Action("Create", "Lesson")">Giảng viên</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="#">Học tập</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link fs-5" href="#"><i class="bi bi-cart"></i></a>
                        </li>
                        <li class="nav-item ms-2">
                            <div class="user-avatar bg-dark text-white rounded-circle d-flex align-items-center justify-content-center fw-bold">
                                DN
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer text-white py-4">
        <div class="container">
            <div class="row g-4">
                <div class="col-6 col-md-3">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Giới thiệu về chúng tôi</a></li>
                        <li class="mb-2"><a href="#">Việc làm</a></li>
                        <li class="mb-2"><a href="#">Liên hệ với chúng tôi</a></li>
                        <li class="mb-2"><a href="#">Blog</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Tải ứng dụng</a></li>
                        <li class="mb-2"><a href="#">Giảng dạy với chúng tôi</a></li>
                        <li class="mb-2"><a href="#">Gói và Giá cả</a></li>
                        <li class="mb-2"><a href="#">Đơn vị liên kết</a></li>
                        <li class="mb-2"><a href="#">Trợ giúp và Hỗ trợ</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Business</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Tuyên bố về khả năng tiếp cận</a></li>
                        <li class="mb-2"><a href="#">Chính sách về quyền riêng tư</a></li>
                        <li class="mb-2"><a href="#">Sơ đồ trang web</a></li>
                        <li class="mb-2"><a href="#">Điều khoản</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-5">
                <a href="#">
                    <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="Udemy Logo" width="91" height="34">
                </a>

                <span class="text-white-50">&copy; 2025 Udemy, Inc.</span>

                <button class="btn btn-outline-light d-flex align-items-center">
                    <i class="bi bi-globe me-2"></i> <span>Tiếng Việt</span>
                </button>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_Toastr")
</body>
</html>
