html {
  font-size: 14px;
}

/* Input Group - Fix cho thanh tìm kiếm */
.navbar .input-group {
    border: 1px solid #1c1d1f;
    border-radius: 999px;
    background-color: #f7f9fa;
    overflow: hidden;
}

.navbar .input-group-text {
    background-color: transparent;
    border: none;
    padding-left: 1rem;
}

.navbar .form-control {
    border-radius: 999px;
    background-color: transparent;
    border: none;
    width: 200px; /* Mobile */
}

@media (min-width: 768px) {
    .navbar .form-control {
        width: 400px; /* Tablet */
    }
}

@media (min-width: 992px) {
    .navbar .form-control {
        width: 400px; /* Desktop */
    }
}

    .navbar .form-control:focus {
        background-color: #fff;
        box-shadow: none;
        border: none;
        outline: none;
    }

    .navbar .input-group:focus-within {
        background-color: #fff;
        border-color: #1c1d1f;
    }

.user-avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.navbar-nav .nav-link {
    white-space: nowrap; /* Chống xuống dòng chữ */
}

.navbar .nav-link:hover, .navbar-brand:hover {
    color: #5624d0 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.site-footer {
    padding-bottom: 500px;
    background-color: #1c1d1f;
}

    .site-footer a {
        text-decoration: none;
        color: #fff;
    }

        .site-footer a:hover {
            text-decoration: underline;
        }

.footer-logo {
    filter: brightness(0) invert(1);
}